@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
.navbar{
    /* font-family:'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    padding: 5px; 
    /* padding: 10px;  */
    /* font-size: 17px; */
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    /* box-shadow: 0 8px 6px -6px gray; */
    /* --webkit-box-shadow:0 8px 6px -6px gray; */
    /* border-bottom: solid grey !important; */
    border-bottom:solid black 1px;
}


.nav-link{
    font-weight: 300 !important;
}

/* .active{
    border-bottom: 1.5px solid black;
} */

.navbar-brand{
    font-weight:700;
    /* font-family: 'roboto','sans-serif';*/
    font-family: 'Montserrat', sans-serif; 
    letter-spacing: 2px;
    /* color: white; */
}

.navbar li a:hover{
    color:black
}
