.form-outline {
  position: relative;
  width: 100%;
  /* width: 24rem; */

}

.img-fluid {
  max-width: 100%;
  height: auto;
  position: relative;
  bottom: 4rem;
}

/* .card-body {
  height: 40rem;
  background-color: rgb(228, 222, 222);

} */

.card-body {
  min-height: 40rem;
  /* min-height:min-content; */
  background-color: rgb(237 237 237);
  border-radius: 1rem;
}


@media screen and (min-width: 768px) {
  .form-outline {
    width: 24rem;
  }
}

@media (max-width: 600px) {
  .form-outline {
    /* min-width: 200px; */
    width: 100%;
  }
}